*\.txt
*.csv
*.pyc
*.png
*.npy
*.pickle
!misc/*env.txt
Calibration_Files
.ipynb_checkpoints
!masses_drivetrain.csv
*.HIG
*.IMP
*.xlsx
!*_env.txt
data/*
*.h5
*.svg
*.mp4
*.jpg
!program_layout.png
!REQUIREMENTS.txt